/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-fria-single-value-chart  {

  .indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: teal;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
    max-width: 400px;
    
    div.left {
      min-width: 70%;
      max-width: 70%;
      min-height: 90px;
      padding-left: 1em;

      input[type=text] {
        display: flex;
        min-height: 1.8em;
        word-wrap: break-word;
        user-select: text;
        overflow: hidden;
        background-color: transparent;
        border-color: transparent;
        width: 100%;

        &.dark::placeholder {
          color: #000;
        }

        &.light::placeholder {
          color: #fff;
        }
      }

      .metric {
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        margin-top: 10px;
      }

      .subtitle {
        margin-bottom: 5px;
      }
    }

    div.right {
      max-width: 30%;
      padding-right: 1em;
      display: flex;
      flex-direction: column;

      svg {
        flex-grow: 5;
      }

      .rotateIndicatorArrow {
        flex-grow: 1;
        background: transparent;
        border: none;
        cursor: pointer;
        transform: rotateY(180deg);
        margin: 0 auto;
        justify-self: flex-end;
        
        color: #fff;
      }
    }
  }
}